app:
  name: axonserver
  platform: "ee"

statefulset:
# The 'replicas' value applies to the axonserver-ee only.
# For the axonserver-se platform is set to "replicas: 1" 
  replicas: 3
  container:
    image: axoniq/axonserver
    workdir: /axonserver
    pullPolicy: Always
  
  env: []
  
  readiness:
    initialDelaySeconds: 5
    periodSeconds: 5
    timeoutSeconds: 1
    successThreshold: 1
    failureThreshold: 12

  liveness:
    initialDelaySeconds: 30
    periodSeconds: 10
    timeoutSeconds: 2
    successThreshold: 1
    failureThreshold: 3

volumeClaimTemplates:
  storageClassName: ""
  events:
    accessModes: 
    - ReadWriteOnce
    storage: 5Gi
  data:
    accessModes:
    - ReadWriteOnce
    storage: 1Gi
  snapshots:
    accessModes:
    - ReadWriteOnce
    storage: 5Gi

axoniq:
  axonserver:
    devmode:
      enabled: false
    # The licenseBase64 value is optional and it applies to the axonserver-ee only. 
    licenseBase64: ""
    admin:
      userName: "admin"
      password: ""
    defaultContextName: default
    defaultReplicationGroupName: default
    properties:
      logging:
        maxHistory: 10
        maxSize: 10MB
    systemToken: ""
    propertiesBase64: ""
    clusterTemplateBase64: ""
    
service:
  ports:
    grpc: "8124"
    gui: "8024"

ingress:
  host: ""
  annotations: {}
  tls_secret: axonserver-tls
