---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{.Values.app.name}}-ingress
{{- if .Values.ingress.annotations }}
  annotations:
{{ toYaml .Values.ingress.annotations | indent 4 }}
{{- end }}
spec:
  rules:
  - host: {{.Values.ingress.host}}
    http:
      paths:
      - backend:
          serviceName: {{.Values.app.name}}-gui-svc
          servicePort: gui
  tls:
  - hosts:
    - {{ .Values.ingress.host }}
    secretName: {{.Values.ingress.tls_secret}}